@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,100&family=Poppins:ital,wght@0,400;0,500;0,600;1,400&display=swap');


body{
    border: 2px solid green;
    height: 100vh;
    background: #f7e7ce;
    font-family: Poppins;
    padding:0;
    margin: 0;
    
}

.center{
    border: 2px solid #A9A9A9;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 30%;
    height: 50%;
    border-radius: 20px;
    
    
    
}

h1{
    text-align: center;
}

.instruction{
    text-align: center;
    color: #A9A9A9;
}

.credetial_input{
    display: grid;
    justify-content: center;
    margin-top: 60px;
    

    
}

.invalid_email{
    display: inline-block;
    position: absolute;
    top:50%;
    left:40%;
    text-align: center;
    color: red;
}

.email_input{
    width:300px;
    height: 80%;
    margin-top: 20px;
    border: 2px solid #29465b;
    outline-color: orangered;
    padding-left: 10px; 
    font-size: 16px;
    border-radius: 20px;
    

}

.email_input::placeholder{
    font-size: 16px;
}


.btn_submit{
    width: 60px;
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
    transform: translateX(220%);
    border-radius: 10px;
}




