@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,100&family=Poppins:ital,wght@0,400;0,500;0,600;1,400&display=swap');

body{
    font-family: Poppins;
    /* border: 2px solid green; */
    margin:0;
    padding:0;
    height: 100vh;
    background: #f7e7ce;
}

.center{
    border:2px solid #A9A9A9;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 30%;
    height: 50%; 
    border-radius: 20px;


}

h1{
    text-align: center;
}

h4{
    text-align: center;
    transform: translateY(30%);
    
}
.txt_input{

    display: grid;
    justify-content: center;
    gap: 20px;
    transform: translateY(50%);


}
/* All elements in the container with display:grid increase as only one element has been increased  */

.txt_input input{
    width: 300px;
    height: 30px;
    border-radius: 20px;
    padding-left: 10px;
    font-size:14px ;
    outline-color: orangered;
}

.txt_input input::placeholder{
    font-size:14px;
}


.txt_input button{
    
    transform: translateX(220%);
    width: 60px;
    border-radius: 20px;
}

.txt_input span{
    transform: translateX(40%);
    color : red
}


